@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.product-card {
  padding: $spacing-md;
  position: relative;
  overflow: hidden;
  border: 0.5px solid $color-light-gray;
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $color-black;
    transition: height 0.3s ease;
    z-index: -1;
  }
  
  &:hover {
    transform: translateY(-5px);
    
    &::after {
      height: 100%;
    }
    
    .product-card__brand,
    .product-card__name,
    .product-card__price {
      color: $color-white;
    }
  }
  
  &__image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: $spacing-md;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  
  &__info {
    display: grid;
    grid-template-areas: 
      "brand brand"
      "name price";
    grid-template-columns: 1fr auto;
    gap: $spacing-xs;
  }
  
  &__brand {
    grid-area: brand;
    font-size: $font-size-small;
    text-transform: uppercase;
    margin-bottom: $spacing-xs;
    color: #666;
    transition: color 0.3s ease;
  }
  
  &__name {
    grid-area: name;
    font-size: $font-size-medium;
    font-weight: normal;
    text-transform: uppercase;
    @include truncate(1);
    transition: color 0.3s ease;
  }
  
  &__price {
    grid-area: price;
    font-weight: normal;
    justify-self: end;
    align-self: end;
    transition: color 0.3s ease;
  }
}